{{- $d := . -}}
{{- if reflect.IsTime $d -}}
  {{- return dict "year" $d.Year "month" (int $d.Month) "day" $d.Day "hour" $d.Hour "minute" $d.Minute "second" $d.Second -}}
{{- end -}}
{{- if reflect.IsMap $d -}}
  {{- return $d -}}
{{- end -}}

{{- $s := string $d -}}
{{- if findRE `^\d{4}$` $s -}}
  {{- return dict "year" (int $s) -}}
{{- end -}}

{{- $t := time $s -}}
{{- if $t -}}
  {{- return dict "year" $t.Year "month" (int $t.Month) "day" $t.Day "hour" $t.Hour "minute" $t.Minute "second" $t.Second -}}
{{- end -}}

{{- return dict "display_date" $s -}}
