{{ $timelineStyles := resources.Get "css/timeline.css" | resources.ExecuteAsTemplate "css/timeline.css" . | minify | fingerprint -}}
<link title="timeline-styles" rel="stylesheet"  href="{{ $timelineStyles.RelPermalink }}" {{ printf "integrity=%q" $timelineStyles.Data.Integrity | safeHTMLAttr }}>
{{ $timelineScript := resources.Get "js/timeline.js" | fingerprint -}}
<script src="{{ $timelineScript.RelPermalink }}" {{ printf "integrity=%q" $timelineScript.Data.Integrity | safeHTMLAttr }} type="text/javascript"></script>

{{ $width := .Get "width" | default "100%" }}
{{ $height := .Get "height" | default "600px" }}
{{ $data := .Get "data" | default (.Get 0) | default "timelines/example.yaml" }}
{{ $hashBookmark := .Get "hashBookmark" | default "false" }}

{{ $dataRes := resources.Get $data }}
{{ $dataJSON := "" }}
{{ if $dataRes }}
    {{ if or (strings.HasSuffix $data ".yaml") (strings.HasSuffix $data ".yml") }}
        {{ $dataJSON = partial "timelinejs/transpile.html" ($dataRes | unmarshal) | jsonify }}
    {{ else }}
        {{ $dataJSON = $dataRes.Content }}
    {{ end }}
{{ end }}

<div id='timeline-embed' style="width {{$width}}; height: {{$height}}"></div>
<script type="text/javascript">
    data = {{ $dataJSON | safeJS }}
    options = {
	hash_bookmark: {{$hashBookmark}},
    }
    timeline = new TL.Timeline('timeline-embed', data, options);
</script>
